.notes-tab {
  background-color: #9d4ba3;
  border-radius: 2px;
  color: white;
  max-width: 96px;
  transition: hover 0.5s linear;
  -webkit-transition: hover 0.5s linear;
  -moz-transition: hover 0.5s linear;
  -ms-transition: hover 0.5s linear;
  -o-transition: hover 0.5s linear;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
}
.notes-control {
  width: 80px;
}
.expanded {
  max-width: 340px;
}
button {
  background-color: transparent;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;

  border: none;
}
fa-icon {
  color: white;
  opacity: 0.5;
  font-size: larger;
  width: 32px;
  height: 32px;
  transition: opacity 0.2s linear;
  -webkit-transition: opacity 0.2s linear;
  -moz-transition: opacity 0.2s linear;
  -ms-transition: opacity 0.2s linear;
  -o-transition: opacity 0.2s linear;
}
fa-icon:hover {
  opacity: 1;
}
.input-form {
  width: 320px;
  height: 80px;
}

.note-list {
  overflow: auto;
  max-height: 600px;
}
