<div class="container-fluid p-0" *ngIf="note$ | async as notes">
  <div class="notes-tab px-2" [ngClass]="{ expanded: inputVisibility }">
    <div
      class="
        notes-control
        d-inline-flex
        justify-content-between
        align-items-center
      "
      *ngIf="controlVisibility"
    >
      <p class="m-0 pr-2">Notes</p>
      <button class="addButton p-0" (click)="toggleForm()">
        <fa-icon [icon]="faCirclePlus" class="circlePlus"></fa-icon>
      </button>
    </div>

    <div class="input-form" *ngIf="inputVisibility">
      <form
        #f="ngForm"
        (ngSubmit)="onSubmit(f)"
        (keydown.enter)="$event.preventDefault()"
      >
        <div class="d-flex justify-content-end">
          <button type="reset" (click)="toggleForm()">
            <fa-icon [icon]="faCircleX"></fa-icon>
          </button>
          <button type="submit" [disabled]="f.invalid">
            <fa-icon [icon]="faCircleCheck"></fa-icon>
          </button>
        </div>
        <div class="form-group">
          <input
            type="text"
            name="text"
            ngModel
            #text
            required
            id="note-text"
            class="form-control"
            placeholder="Note content..."
          />
        </div>
      </form>
    </div>
  </div>

  <div class="note-list">
    <div *ngFor="let note of notes" class="m-2">
      <app-note [note]="note"></app-note>
    </div>
  </div>
</div>
