.notification-container {
  flex: 1;
  background-color: rgb(255, 255, 255);
  border-radius: 2px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.14) 0px 1px 1px 0px, rgba(0, 0, 0, 0.12) 0px 2px 1px -1px;
  color: rgb(255, 255, 255);
  font-family: sans-serif;
  height: 36px;
  background-color: white;
}
p,
fa-icon {
  text-align: center;
  color: #0000008a;
}
