host {
  width: 250px;
  height: 360px;
  display: block;
  background-color: white;
}
.charity-container {
  width: 250px;
  height: 360px;
  //display: flex;
  //flex-direction: column;
  //justify-content: center;
}
.card-text {
  max-height: 72px;
  overflow-y: auto;
}
.card {
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

button.btn-primary {
  background-color: #9d4ba3;
  border: none;
  transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
}
button.btn-primary:hover,
button.btn-primary:active {
  background-color: #6e3272 !important;
}
