<div class="row justify-content-center">
  <div class="register-form mt-5 col-4">
    <h3>Register</h3>
    <form #f="ngForm" (ngSubmit)="onSubmit(f)">
      <div class="form-group">
        <label for="firstNameRegister">First Name</label>
        <input
          type="text"
          name="name"
          ngModel
          #name
          required
          id="firstNameRegister"
          class="form-control"
          placeholder="John"
        />
      </div>
      <div class="form-group">
        <label for="lastNameRegister">Last Name</label>
        <input
          type="text"
          name="lastName"
          ngModel
          #lastName
          required
          id="lastNameRegister"
          class="form-control"
          placeholder="Doe"
        />
      </div>
      <div class="form-group">
        <label for="usernameRegister">Username</label>
        <input
          type="text"
          name="username"
          ngModel
          #username
          required
          id="usernameRegister"
          class="form-control"
          placeholder="JohnDoe"
        />
      </div>
      <div class="form-group">
        <label for="passwordRegister">Password</label>
        <input
          type="password"
          name="password"
          ngModel
          #password
          required
          id="passwordRegister"
          class="form-control"
          placeholder="John123!"
          autocomplete
        />
        <input type="checkbox" (click)="togglePasswordVisibility()" />Show
        Password
      </div>
      <p>
        Already have an account? Click
        <a [routerLink]="['/auth/login']">here</a> to login.
      </p>
      <button
        type="submit"
        [disabled]="f.invalid"
        class="btn btn-primary btn-lg"
      >
        <span>Register <fa-icon [icon]="userPlus"></fa-icon></span>
      </button>
    </form>
  </div>
</div>
