li > span > button {
  font-size: large !important;
  color: white;
}
fa-icon {
  color: white;
}
.searchIcon > fa-icon {
  opacity: 0.8;
}
li > span:hover {
  cursor: pointer;
}

.search-container {
  display: inline-block;
  text-align: center;
  padding-top: 7px;
}
.search-input {
  padding: 5px 10px;
  border: none;
  background: transparent;
  display: block;
  margin-bottom: -13px;
  color: white;
  text-align: left;
}
.search-input-border {
  display: inline-block;
  width: 0px;
  height: 2px;
  background: white;
  position: relative;
  top: -5px;
  -webkit-transition: all ease-in-out 0.15s;
  -o-transition: all ease-in-out 0.15s;
  transition: all ease-in-out 0.15s;
}

.search-input:focus {
  outline: none;
}
.search:hover,
.search-input:focus {
  .search-input {
    border-bottom: thin solid white;
  }
  .searchIcon > fa-icon {
    opacity: 1;
  }
}

.search-input:focus + .search-input-border {
  width: 100%;
}
ul.nav-tabs {
  border: none;
}

li > span > button {
  border: 10px;
  box-sizing: border-box;
  display: inline-block;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  cursor: pointer;
  text-decoration: none;
  margin: 5px;
  padding: 0px;
  outline: none;
  font-size: 0px;
  font-weight: inherit;
  position: relative;
  overflow: visible;
  transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  width: 44px;
  height: 44px;
  background: transparent;
  border-radius: 100%;
}
li > span.active > button {
  background: rgb(157, 75, 163);
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 60px, rgba(0, 0, 0, 0.16) 0px 8px 10px;
  transform: scale(1.14);
}
h3.nav-link {
  opacity: 0.8;
  transition: opacity 0.3s linear;
  -webkit-transition: opacity 0.3s linear;
  -moz-transition: opacity 0.3s linear;
  -ms-transition: opacity 0.3s linear;
  -o-transition: opacity 0.3s linear;
}

li.dropdown.show > h3.nav-link,
h3.nav-link:hover {
  opacity: 1;
}

.dropdown-menu {
  opacity: 1;
  background-color: rgba(17, 16, 16, 0.308);
  border-radius: 3px;
  border-top: 3px solid rgb(157, 75, 163);
}
.dropdown-menu p {
  color: white;
}

.dropdown {
  cursor: pointer;
}

.dropdown.show > h3,
.dropdown > h3 {
  border: none;
}

* {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
h3 {
  color: rgb(255, 255, 255);
  padding-left: 8px;
  padding-right: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
fa-icon {
  font-size: x-large;
}
.dropdown-divider {
  opacity: 0.2;
}
.dropdown-menu {
  cursor: text;
}
.btn-primary {
  background-color: #832b8a !important;
  border: none !important;
}
.btn-primary:active,
.btn-primary:focus {
  background-color: #66226b !important;
  border: none !important;
}

.btn-primary:hover {
  background-color: #66226b !important;
  border: none !important;
}
.dropdown-menu a {
  color: white;
}
.dropdown-menu a:hover,
.dropdown-menu a:active {
  opacity: 1;
  background-color: inherit;
}
a:hover {
  cursor: pointer;
}
