<div class="container-fluid p-0">
  <div class="p-3 border-bottom"><h5 class="m-0">Account</h5></div>
  <div
    class="p-3 border-bottom d-flex align-items-center justify-content-between"
  >
    <p class="font-weight-bold">Username</p>
    <p>Strahinja3711</p>
  </div>
  <div
    class="p-3 border-bottom d-flex align-items-center justify-content-between"
  >
    <p class="font-weight-bold">Ime</p>
    <p>Strahinja</p>
  </div>
  <div
    class="p-3 border-bottom d-flex align-items-center justify-content-between"
  >
    <p class="font-weight-bold">Prezime</p>
    <p>Stamenkovic</p>
  </div>
  <div
    class="p-3 border-bottom d-flex align-items-center justify-content-between"
  >
    <p class="font-weight-bold">Email</p>
    <p>strahinjastamenkovic9@gmail.com</p>
  </div>
</div>
