<div class="container-fluid p-0" *ngIf="vm$ | async as vm">
  <div class="p-3 border-bottom"><h5 class="m-0">Account</h5></div>
  <div
    class="p-3 border-bottom d-flex align-items-center justify-content-between"
  >
    <p class="font-weight-bold">Username</p>
    <p>{{ vm.username }}</p>
  </div>
  <div
    class="p-3 border-bottom d-flex align-items-center justify-content-between"
  >
    <p class="font-weight-bold">First Name</p>
    <p>{{ vm.name }}</p>
  </div>
  <div
    class="p-3 border-bottom d-flex align-items-center justify-content-between"
  >
    <p class="font-weight-bold">Last Name</p>
    <p>{{ vm.lastName }}</p>
  </div>
  <div
    class="p-3 border-bottom d-flex align-items-center justify-content-between"
  >
    <p class="font-weight-bold">Date Joined</p>
    <p>{{ vm.dateJoined }}</p>
  </div>
</div>
