<div *ngIf="charity" class="card my-2" style="width: 18rem">
  <a href="{{ charity.link }}" target="_blank">
    <img src="{{ charity.imagePath }}" class="card-img-top" />
  </a>
  <div class="card-body text-center">
    <h5 class="card-title text-center">{{ charity.name }}</h5>
    <p class="card-text">{{ charity.description }}</p>
    <button
      *ngIf="heart$ | async as hearts"
      [disabled]="hearts == 0"
      class="btn btn-primary align-center"
      (click)="donate(hearts)"
    >
      Donate {{ hearts }}<fa-icon [icon]="faHeart"></fa-icon>
    </button>
  </div>
</div>
<!-- *ngIf="heart$ | async as hearts"
  [ngClass]="{ disabled: hearts === 0 }" -->
