<div class="container-fluid p-0">
  <div class="container-fluid p-3 shaddow mb-2 d-flex justify-content-center">
    <fa-icon [icon]="faChartBar" class="mr-2"></fa-icon>
    <p>Hi, Strahinja3711! Here are all of your statistics.</p>
  </div>
  <div
    class="
      container-fluid
      d-flex
      flex-direction-row
      justify-content-between
      flex-wrap
      p-0
    "
  >
    <div class="shaddow stat p-5">
      <h2>365</h2>
      <p class="text-nowrap">days as a Tabber</p>
    </div>
    <div class="shaddow stat">
      <h2>365</h2>
      <p class="text-nowrap">tabs all time</p>
    </div>
    <div class="shaddow stat">
      <h2>365</h2>
      <p class="text-nowrap">Hearts donated</p>
    </div>
  </div>
</div>
