<div class="container-fluid p-0" *ngIf="todo$ | async as todos">
  <div class="todos-tab px-2">
    <div
      class="
        todos-control
        d-inline-flex
        justify-content-between
        align-items-center
      "
      *ngIf="controlVisibility"
    >
      <p class="m-0 pr-2">To do's</p>
      <button class="addButton p-0" (click)="toggleForm()">
        <fa-icon [icon]="faCirclePlus" class="circlePlus"></fa-icon>
      </button>
    </div>

    <div class="input-form" *ngIf="inputVisibility">
      <form
        #f="ngForm"
        (ngSubmit)="onSubmit(f)"
        (keydown.enter)="$event.preventDefault()"
      >
        <div class="d-flex justify-content-end">
          <button type="reset" (click)="toggleForm()">
            <fa-icon [icon]="faCircleX"></fa-icon>
          </button>
          <button type="submit" [disabled]="f.invalid">
            <fa-icon [icon]="faCircleCheck"></fa-icon>
          </button>
        </div>
        <div class="form-group">
          <input
            type="text"
            name="task"
            ngModel
            #name
            required
            id="todo-task"
            class="form-control"
            placeholder="What do you need to do?"
          />
        </div>
      </form>
    </div>
  </div>

  <div *ngFor="let todo of todos" class="mx-2">
    <app-todo [todo]="todo"></app-todo>
  </div>
</div>
