.container-fluid {
  background-color: #f2f2f2;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 120px inset;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  inset: 0px;
  position: absolute;
  z-index: auto;
  background-image: url("https://prod-tab2017-media.gladly.io/img/backgrounds/989048e69f944e428d2bb17a8f1db9b1.jpg");
}
