<div class="container-fluid">
  <app-header></app-header>
  <app-time></app-time>
  <div class="row">
    <div class="pl-2">
      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade" id="bookmarks" role="tabpanel">
          <app-bookmark-list></app-bookmark-list>
        </div>
        <div class="tab-pane fade" id="notes" role="tabpanel">
          <app-note-list></app-note-list>
        </div>
        <div class="tab-pane fade" id="toDo" role="tabpanel">
          <app-todo-list></app-todo-list>
        </div>
      </div>
    </div>
  </div>
</div>
