nav {
  background-color: #9d4ba3;
  height: 64px;
}
* {
  font-size: large !important;
}
a {
  color: white !important;
  opacity: 0.8;
}
a:hover {
  opacity: 1;
}
.container-fluid {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
