<div
  style="
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: absolute;
    inset: 0px;
    overflow: hidden;
    box-sizing: border-box;
    pointer-events: none;
  "
>
  <div style="margin-bottom: 110px; pointer-events: none; user-select: none">
    <h1
      data-test-id="clock-widget-time"
      style="
        color: rgb(255, 255, 255);
        font-size: 140px;
        font-weight: bold;
        margin: 0px;
        line-height: 90%;
        font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
      "
    >
      {{ time }}
    </h1>
    <h2
      data-test-id="clock-widget-date"
      style="
        color: rgb(255, 255, 255);
        font-size: 28px;
        margin: 0px;
        font-weight: normal;
        font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
      "
    >
      {{ day }}, {{ month }} {{ dayN }}
    </h2>
  </div>
</div>
