<div class="row justify-content-center">
  <div class="login-form mt-5 col-4">
    <h3>Login</h3>

    <form #f="ngForm" (ngSubmit)="onSubmit(f)">
      <div class="form-group">
        <label for="usernamelogin">Username</label>
        <input
          type="text"
          name="username"
          ngModel
          #username
          required
          id="usernamelogin"
          class="form-control"
          placeholder="Username"
        />
      </div>

      <div class="form-group">
        <label for="passwordlogin">Password</label>
        <input
          type="password"
          name="password"
          ngModel
          #password
          required
          id="passwordlogin"
          class="form-control"
          placeholder="Password"
          autocomplete
        />
        <input type="checkbox" (click)="togglePasswordVisibility()" />Show
        Password
      </div>

      <p>
        Or <a [routerLink]="['/auth/register']">register</a> if you dont have an
        account.
      </p>

      <button
        type="submit"
        [disabled]="f.invalid"
        class="btn btn-primary btn-lg"
      >
        <span>Login <fa-icon [icon]="faSignInAlt"></fa-icon></span>
      </button>
    </form>
  </div>
</div>
